body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.foto-de-perfil {
    height: 30vh;
    border-radius: 50%;
    position: relative;
    top: 20vh;
    left: 10vh;
}

ol {
    height: 1px;
    width: 10;
    padding-left: 70px;
    font-size: 3.2em;
    margin-block-start: 4em; 
}

ul {
    height: 1px;
    width: 10;
    padding-left: 70px;
    font-size: 3.2em;
    margin-block-start: 4em; 
}

div {
    display: flex;
}

aside {
    background-color: #491919;
    width: 25%;
    height: 100vh;
}

h1 {
    height: 1px;
    width: 10;
    padding: 50px;
    font-size: 3.2em;
    margin-block-start: 4em;  
}

h3 {
    padding-left: 40px;
}

p {
    padding-left: 40px;
    padding-right: 40px;
}


.redes-sociais {
    padding-left: 40px;
}

main {
    background-color: #e6c6c6;
    width: 75%;
}

.l1 {
    color: #fff;
    text-align: center;
    font-size: 4vh;
    position: absolute;
    padding-top: 2;
    padding-bottom: 2;
    border: 5px;
    width: 14vw;
    height: 3.5vh;
    top: 50vh;
    left: 6vw;
}

.l2 {
    color: #fff;
    text-align: center;
    font-size: 4vh;
    position: absolute;
    padding-top: 9.5;
    padding-bottom: 0.2;
    border: 1px;
    width: 14vw;
    height: 3.5vh;
    top: 55vh;
    left: 6vw;
}

.l3 {
    color: #fff;
    text-align: center;
    font-size: 4vh;
    position: absolute;
    padding-top: 9.5;
    padding-bottom: 0.2;
    border: 1px;
    width: 14vw;
    height: 3.5vh;
    top: 60vh;
    left: 6vw;
}

